{% extends 'base.html' %}
{% block content %}
    <h1>our project</h1>
    <nav>
        <div class="links">
            <a class="a" href="http://127.0.0.1:8000/Setup/home">Home Page</a>
            <a class="a" href="http://127.0.0.1:8000/Setup/storage">Storage Data </a>
            <a class="a" href="http://127.0.0.1:8000/Setup/supplier">Supplier Data </a>
            <a class="a" href="http://127.0.0.1:8000/Setup/customer">Customer Data </a>
            <a class="a" href="http://127.0.0.1:8000/Transaction/in" >In Data </a>
            <a class="a" href="http://127.0.0.1:8000/Transaction/out" >Out Data </a>
            
        </div>
        
    </nav>
    <center>
      <table >
        <caption><h2 class="itemsdata"><b class="itemsfont"> {{page_title}}</b></h2></caption>
        <thead>
          <tr>
            <td>id</td>
            <td>code</td>
            <td>item name</td>
          </tr>
        </thead>
        <tbody>
          {% for m in data %}
          <tr>
            <td>{{ m.items_id }}</td>
            <td>{{ m.items_code }}</td>
            <td>{{ m.items_name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>      
    </center>
{% endblock %}