{% extends 'base.html' %}
{% block content %}
    <h1>our project</h1>
    <nav>
        <div class="links">
            <a class="a" href="http://127.0.0.1:8000/Setup/storage" target="_blank" >Storage Data </a>
            <a class="a" href="http://127.0.0.1:8000/Setup/supplier" target="_blank" >Supplier Data </a>
            <a class="a" href="http://127.0.0.1:8000/Setup/customer" target="_blank" >Customer Data </a>
            <a class="a" href="http://127.0.0.1:8000/Setup/item" target="_blank" >Item Data </a>
            <a class="a" href="http://127.0.0.1:8000/Transaction/in" target="_blank" >In Data </a>
            <a class="a" href="http://127.0.0.1:8000/Transaction/out" target="_blank" >Out Data </a>
        </div>
        
    </nav>
{% endblock %}